li {
    width: 31.25rem;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: .5rem;

    padding: 1rem ;
    border: 0.125rem solid var(--cor-primaria);
    border-radius: 1rem;

}

li .texto{
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--fonte-texto);
}

li .texto-data {
    font-size: .7rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: var(--cor-secundaria);
}

.list-item-container, .table-item {
    width: 100%;
}

.table-item tbody tr {
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
}

.fa-solid {
    color: var(--cor-primaria);
    position: relative;
    cursor: pointer;

}

.lixeira{
    background: none; 
    border: none;
    padding: 0;
    margin: 0;
}

.lixeira:hover {
    opacity: 0.7;
}