/* Modifica o fundo */
 .list-page-wrapper {
    width: 100vw;
    height: 100vh;

    background-image: url(../../../src/Assets/APSbackground.jpg);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 

/* Modifica o quadrado que contem as informações */
.list-page-container {
    background-color: var(--neutro);
    margin-top: 64px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 46px 150px;

    align-items: center;
    border-radius: 16px;
}

.gatinho{
  width: 200px;
  height: 120px;
}

.list-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

form .input-container div input{
    display: block;
    padding: 8px 8px;
    border-radius: 24px;
    border: 1px solid var(--cor-primaria);;
    width: 307px;

    font-family: var(--fonte-texto);
    margin: 7px;
    border-color: var(--cor-primaria);

}

form .input-container div input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 19px;
    color: var(--cor-terciaria);
    font-weight: 100;
}

form .input-container div input:focus{
    outline: none;
}

.button-item {
    padding: .5rem 1.5rem;
    border-radius: 5rem;
    background-color: var(--cor-primaria);
    color: var(--neutro);
    font-family: var(--fonte-texto);
    font-size: 1rem;
    font-weight: normal;
    border: none;
}

.button-item:hover {
    cursor: pointer;
    background-color: var(--cor-secundaria);
    transition: 0.2s ease-in-out;
}

.list-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.titulo-lista {
    font-family: var(--fonte-texto);
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: bolder;
    line-height: 32px;
}

hr {
    border: none;
    border-bottom: 2px dotted var(--cor-primaria);
}

ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style-type: none;
}

/* 
.checkbox-customizado {
    width: 20px;
    height: 20px;
    background-color: var(--neutro);
    border: 1px solid var(--verde);
    cursor: pointer;
    border-radius: 4px;
}

.checked {
    background-color: var(--verde);
    position: relative;
}

.checkbox-customizado.checked::after {
    content: "";
    position: absolute;
    left: 30%;
    top: -10%;
    width: 5px;
    height: 14px;

    border-top: 2px solid var(--neutro);
    border-left: 2px solid var(--neutro);

    transform: rotate(-140deg);
}

.item-lista-button {
    border: none;
    background-color: transparent;
}
 */