.auth-wrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;
    gap: 150px;
    
    padding-left: 100px;
    
    background-color: var(--cor-primaria);
    border-radius: 50px;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.25);

}

.auth-icon-user {
    font-size: 130px;
    height: auto;
    color: var(--cor-secundaria);
}

.auth-content {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 500px;
    height: 700px;

    background-color: var(--neutro);

    border-radius: 50px;
}